body {
    background-color: beige;
}

header {
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    justify-content: center;
}

#options {
    width: 200px;
    background-color: #639617;
    margin: 0 25px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grid {
    display: flex;
    justify-content: center;
    width: 500px;
    height: 500px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.row {
    float: left;
}

.square {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #fff;
}

.square:hover {
    background-color: #000;
}